@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>About Pharma Phriends</h1>
<body>
    <p style="color:blue;">        
        Access to health insurance is still a challenge for many people and<br>
        even those with coverage may find the cost for prescriptions to be<br>
        out of their budget. With the rising cost of drug prices, and in some cases,<br>
        life-saving medication, Pharma Phriends is here to offer anyone an opportunity<br>
        to lower their out-of-pocket cost.<br><br>
        Find out how much medications cost, get the best prices in your area, and save<br>
        with Pharma Phriends.

    </p>
</body>
<p></p>

<h4>Our Values</h4>
<i style="color:blue;">*Put consumers first</i>
<br>
<i style="color:blue;">*Advocate for equity</i>
<br>
<i style="color:blue;">*Practice Transparency</i>
<br>
<i style="color:blue;">*Deliver results</i>
<br> 