@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Contacts</h1>
<p></p>

<body>

    <div>        
        <p><a href="mailto:jordan.glad8@gmail.com?subject=Inquiry from Pharma Phriends">Jordan Glad</a></p>
    </div>


    <div>
        <p><a href="mailto:kiprun@gmail.com?subject=Inquiry from Pharma Phriends">Robert Lazenby</a></p>
    </div>
    <div>
        <p><a href="mailto:scottweinberg81@gmail.com?subject=Inquiry from Pharma Phriends">Scott Weinberg</a></p>
    </div>

</body>