
@model Pharma_Phriends.Models.RxDrug

<div class="text-center">
    <h1 class="display-5">Pharma<br/>Phriends</h1>
    
</div>
    <div>
        <h4 class="text-dark">@Model.DrugName Details: </h4>
        <br/>
        <br/>
       <div><p class="text-muted"><u>@Model.DrugName</u></p>
            <p class="text-muted">@Model.DrugDescription</p> 
        </div>
    </div>

