
@model Pharma_Phriends.Models.RxDrug

<div class="text-center">
    <h1 class="display-5">Pharma<br/>Phriends</h1>
    <p class="text-warning">@Model Drug Details: </p>
</div>
    <div>
        <ol>
                <li>
                    <p class="text-primary "><u>@Model.DrugName</u></p>
                    <p class="text-muted">@Model.DrugDescription</p> 
                </li>
        </ol>
    </div>

