@model Pharma_Phriends.ViewModels.SearchViewModel


<h1>Pick drug to search</h1>

<form method="post">
    <div>
        <label asp-for="RxDrugsId">Pick a Drug to search: </label>
        <select asp-for="RxDrugsId" asp-items="Model.AllDrugs"></select>
    </div>

    <div class="form-group">
        <label asp-for="ZipCode">ZipCode</label>
        <input class="form-control" asp-for="ZipCode" size="50"/>
        <span></span>
    </div>
    <input type="submit" value="Search Drug"/>
</form>
