@model Pharma_Phriends.ViewModels.SearchViewModel

<h1 style="text-align:center;" class="text-muted">Pharma <br> Phriends </h1>
    

<h3 class="text-info">Pick Drug and Zip Code</h3>

<form class="form-inline " method="post">
    <div class="form-group mb-3 ">
        <label asp-for="RxDrugsId" class="text-muted">Drug: </label>
        <select asp-for="RxDrugsId" asp-items="Model.AllDrugs" ></select>
    </div>
    
  
  <div class="form-group mx-sm-3 mb-3">
    <label for="ZipCode" class="sr-only">Zip Code</label>
    <input type="text" class="form-control" id="Zipcode" placeholder="ZipCode">
  </div>
  <button type="submit" class="btn btn-info mb-3">Search For Drug</button>
@*/form>
    <div class="form-group">
        <label asp-for="ZipCode">ZipCode</label>
        <input class="form-control" asp-for="ZipCode" size="50"/>
        <span></span>
    </div>
    <input type="submit" value="Search Drug"/>*@
</form>

<h2 class="text-info" >Results</h2>

<table class="table">
    <tr>
        <th class="text-muted">Drug Name</th> 
        <th class="text-muted">Pharmacy</th>
        <th class="text-muted">Price</th>
</tr>
        
    
    
     <tr>
         <td>@Model.RxDrugName</td>
         <td>@ViewBag.Pharmacies</td>
         <td>@ViewBag.Drugs</td>
     </tr>
 
</table>
