@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Pharma_Phriends.ViewModels.SearchViewModel


<h1>Pick drug to search</h1>

<form asp-controller="Search" asp-action="SearchDrug" method="post">
<div class="form-group">
        <label asp-for="DrugName">Drug Name</label>
        <input class="form-control" asp-for="DrugName"/>
        <span></span>
    </div>
    <div>
        <label asp-for="RxDrugsId">Pick a Drug to search: </label>
        <select asp-for="RxDrugsId" asp-items="Model.AllDrugs"></select>
    </div>

    <div class="form-group">
        <label asp-for="ZipCode">ZipCode</label>
        <input class="form-control" asp-for="DrugName"/>
        <span></span>
    </div>
@*    @foreach (var skill in Model.)
    {
        <div>
            <label @*asp-for="@skill.Name"*@>
        @*        <span>@skill.Name</span>
                <input type="checkbox" name="selectedSkills" value="@skill.Id" class="form-control" unchecked />
            </label>
        </div>
    } *@

    
    <input type="submit" value="Search Drug" />

</form>

